.boardBox{
    margin: 40px 0;
    .boarRow{
        display: flex;
       .box{
        width: 64px;
        height: 64px;
        background: #d3d3d3;
        border: 1px solid #ffffff;
        cursor: pointer;
        &.active{
            background: #008000;
        }

        &[disabled]{
            opacity: 0.6;
            cursor: not-allowed;  
            pointer-events: none; 
        }
        
       }
      }
  }

  

.actionControl{
    display: flex;
    margin-bottom: 22px;
    button{
        margin-right:12px;
        padding: 8px 14px;
        font-size: 12px;
        border: 0;
        background: #d3d3d3;
        display: block;
        cursor: pointer;
        &.start{
            background: #008000;
        }
        &.stop{
            background:#ff2000;
        }
        &.restart{
            background: #d3d3d3;
        }        
    }
}

  
  